
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center my-5">
    <li class="page-item" [ngClass]="{disabled: currentPage === 0}">
      <a class="page-link" (click)="currentPage = currentPage-1">Previous</a>
    </li >


    <ng-container *ngFor="let post of images let i= index">
    <li class="page-item" 
    [ngClass]="{active: currentPage === i}"
    *ngIf="showNav(i)"
    >
    <a class="page-link" (click)=" currentPage = i">{{i+1}} </a>  
    </li>
  </ng-container>


    <li class="page-item" [ngClass]="{disabled: currentPage === images.length -1}">
      <a class="page-link" (click)="currentPage = currentPage+1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h5 class="card-title text-danger" style="text-align: center;">{{images[currentPage].title}}</h5>
  <img class="mx-auto d-block border border-dark" src="{{images[currentPage].imageURL}}" width="1000px" height="600px">

  
</div>

